.create {
	display: flex;
    width: 100%;

&__form {
	width: 100%;
	margin-left: 30px;
}

  fieldset {
    max-width: 600px;
  }

  &__btns {
  	display: flex;
  	justify-content: center;
  }

  &__btn {
    width: 56px !important;
    height: 56px !important;
    position: relative;
    margin: 0 !important;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;

      .material-icons {
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        width: 56px !important;
        height: 56px !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
  }

  .material-icons img {
      width: 40px;
      position: absolute;
      height: 40px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: #fff;
    }

  }
}