.templates {
  grid-column: 2 / 3;
  margin-left: 40px;
}

.templates__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.templates__title {
  margin: 15px 0 !important;
}

.templates__btn {
  width: 56px !important;
  height: 56px !important;
  position: relative;
  margin: 0 !important;
}

.templates__modify-btn {
  min-width: 30px !important;
  width: 30px !important;
  height: 30px !important;
  margin: 0 !important;
}

.templates__btn .material-icons {
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  width: 56px !important;
  height: 56px !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.templates__btn .material-icons img {
  width: 40px;
  position: absolute;
  height: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  fill: #fff;
}

.templates__modify-btn .material-icons img {
  position: absolute;
  height: 20px !important;
  width: 20px !important;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.templates__modify-btn .material-icons {
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  width: 30px !important;
  height: 30px !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.templates__task-variant {
  transform: translate(130px, -30px);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.task-variants-wrapper {
  position: relative;
  left: 100px;
  bottom: 35px;
}

.templates__task-variants {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  & > * {
    width: auto;
  }

  & > .templates__variant-name {
    max-width: 200px;
    width: 100%;
    text-align: left;
  }
}

.templates__variant-time {
  max-width: 100px;
  width: 100%;
}