.templates {
  grid-column: 2 / 3;
  margin-left: 40px;

  &__variant-name {
    max-width: 400px;
    width: 100%;
  }
}

.templates__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.templates__title {
  margin: 15px 0 !important;
}

.templates__btn {
  width: 56px !important;
  height: 56px !important;
  position: relative;
  margin: 0 !important;
}

.templates__modify-btn {
  min-width: 30px !important;
  width: 30px !important;
  height: 30px !important;
  margin: 0 !important;
}

.templates__btn .material-icons {
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  width: 56px !important;
  height: 56px !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.templates__btn .material-icons img {
  width: 40px;
  position: absolute;
  height: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  fill: #fff;
}

.templates__modify-btn .material-icons img {
  position: absolute;
  height: 20px !important;
  width: 20px !important;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.templates__modify-btn .material-icons {
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  width: 30px !important;
  height: 30px !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.templates__task-variant {
  transform: translate(130px, -30px);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.templates__task-variant-wrapper {
  max-width: 100%;
  width: 100%;

  .form-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.templates__task-variants {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  & > * {
    width: auto;
  }
}

.templates__variant-time {
  max-width: 150px;
  width: 100%;
}

.templates__edit-wrapper {
  background-color: #fff !important;
  padding: 20px !important;
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.templates__task-name {
  margin-top: 20px;
}