html, body {
  height: 100%;
}

section {
  margin: 15px 30px;
}

#app {
  height: 100%;
}


// Bootstrap styles

.nav.nav-pills.nav-stacked {
  border-radius: 4px;
  background-color: $brand-primary;
  color: #fff !important;
  height: 100%;
  padding: 0 !important;
  margin-bottom: 15px;
  height: 100%;
  margin-top: 15px; 

  & > .active a {
    background-color: #fff;
    color: $brand-primary;
  }

  & a {
    color: #fff;

    &:hover {
      background-color: #fff;
      color: $brand-primary;
    }
  }
}

.navbar.navbar-default.navbar-static-top {
  background-color: $brand-primary;
}

.form-group.is-focused .form-control {
  background-image: linear-gradient($brand-primary, $brand-primary), linear-gradient(#D2D2D2, #D2D2D2) !important;
}

.form-group.is-focused label,
.form-group.is-focused label.control-label {
  color: $brand-primary;
}

input:checked + .toggle,
input:checked + .toggle:after {
  background-color: $brand-primary !important;
}

.btn.btn-primary {
  color: $brand-primary !important; 
}

.form-group {
  margin-top: 15px !important;
}

.togglebutton.form-group {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.toggle {
  margin-left: 25px;
  position: relative;
  top: 10px; 
}

.form-group.has-error .help-block {
  display: block;
  position: relative;
  color: $brand-primary;
}

.form-group .help-block {
    position: relative !important; 
}